<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>961571523283-9b0h6t4tfvjee7lbfqu3dp3v1rliegar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961571523283-9b0h6t4tfvjee7lbfqu3dp3v1rliegar</string>
	<key>API_KEY</key>
	<string>AIzaSyDYzHb1-YI6dMlDVrONeRD_8hYRKDf2_kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>961571523283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codershigh.imanager</string>
	<key>PROJECT_ID</key>
	<string>imanager2-55148</string>
	<key>STORAGE_BUCKET</key>
	<string>imanager2-55148.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961571523283:ios:862bae09d17650c2</string>
	<key>DATABASE_URL</key>
	<string>https://imanager2-55148.firebaseio.com</string>
</dict>
</plist>